# Compiled Object files
*.slo
*.lo
*.o
*.so
*.jpg
*.pyc

# Compiled Dynamic libraries
#*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

tags
*.swp
output/*
*.out

#latex mid files
*.aux
*.log
*.nav
*.snm
*.toc
.*

Makefile
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake

